<h1 md-dialog-title>
	Правила игры
</h1>

<div md-dialog-content>
	<h3>Главные правила</h3>
	<p>
		<b>Показывая слово, вы можете:</b>
	</p>
	<ul>
		<li>сдвигать любой частью своего тела - хоть ушами;</li>
		<li>принимать любые позы - вплоть до стояния на голове;</li>
		<li>отвечать на вопросы отгадывающих жестами;</li>
		<li>рисовать жестами на стене или другой плоской поверхности; указывать на свою одежду, украшения и другие вещи, которые оказались
			при вас, когда вы пошли показывать слово;</li>
		<li>показывать словосочетание в несколько приемов, разбив его на отдельные слова;</li>
	</ul>
	<p>
		<b>Показывая слово, вы НЕ можете:</b>
	</p>
	<ul>
		<li>разговаривать, намеренно издавать любые звуки (кроме выражения эмоций);</li>
		<li>показывать на любые предметы, кроме тех, которые имеете при себе, брать их в руки, пользоваться ими;</li>
		<li>произносить слова беззвучно, одними губами;</li>
		<li>показывать отдельные буквы;</li>
		<li>рисовать (даже если у вас при себе были ручка или карандаш) и вообще оставлять видимые следы на любой поверхности;</li>
		<li>показывать слово по частям или по слогам.</li>
	</ul>

	<h3>Каждый сам за себя</h3>
	<p>
		Выберите игрока, который пойдет показывать слово первым. Он выбирает слово и начинает показывать его остальным игрокам с
		помощью мимики, жестов и других телодвижений.
	</p>
	<p>
		Пока вы показываете слово, другие игроки угадывают его, высказывая свои версии вслух. Как только прозвучит правильная версия
		(совпадающая с тем словом, которое вы выбрали), ваш ход заканчивается. Вывозвращаетесь к остальным игрокам и теперь будете
		угадывать вместе с ними, а тот игрок, который угадал ваше слово, выбирает новое и начинает его показывать.
	</p>
	<h3>Командная игра</h3>
	<p>
		Индивидуальная игра хороша для первого знакомства с «Крокодилом», но по-настоящему эта игра раскрывается только в командах.
		Выступая команда против команды, вы просто разовьете командный дух и научитесь понимать товарищей с одного движения. Если
		в вашей компании больше шести человек, мы настоятельно рекомендуем разбиться на две, три или даже четыре примерно равные
		команды.
	</p>
	<p>
		<a href="http://www.mosigra.ru/Face/Show/magellan_krokodil/rules/" md-button targe="_blank" rel="nofollow">На основе этих правил</a>
	</p>
</div>

<md-dialog-actions>
	<button md-dialog-close md-fab>
		<md-icon>done</md-icon>
	</button>
</md-dialog-actions>