.word-rating {
	text-align: center;
	margin: 10px auto;
	display: block;
	flex: none;
}

.word-rating .material-icons {
	width: 26px;
}

.word-rating .active {
	color: rgba(255, 255, 255, .8);
}

.word-rating .inactive {
	color: rgba(255, 255, 255, .2);
}

.text {
	font-size: 26px;
	color: rgba(255, 255, 255, .4);
	font: 15px Arial;
	display: block;
	margin: 5px 0 0 0;
	font-weight: 100;
	text-align: center;
}