.croco-container {
	font-family: 'Open Sans Condensed', sans-serif;
	background: #0b4c49;
	color: #fff;
}

.croco {
	position: relative;
}

.croco .top {
	height: 75vh;
	position: relative;
}

.croco .bottom {
	height: 25vh;
	text-align: center;
}

.btn {
	background: #fff !important;
	color: #0b4c49 !important;
	border: none !important;
	border-radius: 2px !important;
	text-transform: uppercase;
}

.btn.loading .fa {
	animation: rotate .2s infinite linear alternate;
}


/* animation */

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#eye-r-3, #eye-l-3 {
	animation: eye 5s infinite alternate;
}