<div class="croco-container">
	<div class="row">
		<div class="col-sm-9">
			<div class="croco">
				<div class="top">
					<app-croco-svg [word]="word.content"></app-croco-svg>
					<app-word-rating [word]="word"></app-word-rating>
					<div class="bottom">
						<div class="btn btn-primary btn-lg" (click)="button()">
							<i class="fa fa-refresh" [class.fa-spin]="loading"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<app-recently-used-words></app-recently-used-words>
		</div>
	</div>
</div>