.app-content {
	padding: 30px;
}

.loading .fa {
	animation: rotate .2s infinite linear alternate;
}

.app-toolbar-menu {
	padding: 0 14px 0 14px;
	color: white;
}

.app-icon-button {
	box-shadow: none;
	user-select: none;
	background: none;
	border: none;
	cursor: pointer;
	filter: none;
	font-weight: normal;
	height: auto;
	line-height: inherit;
	margin: 0;
	min-width: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
}

.get-new-word {
	text-align: center;
	height: 100px;
}

.get-new-word md-progress-spinner {
	width: 32px;
	margin: -23px auto 0 auto;
}

.sharing {
	text-align: center;
}